body {
    background: black;
}

#wrapper {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 14px;
    width: 1000px;
    height: 335px;
    background: #EEEEEE;
    margin: 0px auto;
}
header{
    background: #384452;
    width: 100%;
    height: 70px;
}
ul{
    width: 100%;
    height: 70px;
    padding: 0px 0px;
    margin: 0px 0px;
}
#wrapper>header>ul>li{
    padding-left: 10px;
    padding-top: 25px;
    list-style: none;
    color: #96A2AF;
    display: inline-block;
    width: 180px;
    height: 45px;
    text-align: center;
}
#wrapper>header>ul>li:hover{
    background: #3BBC96;
    color: #fff;
    cursor: pointer;
}

li[id="search"]{
    background: url("03-tab01.png")no-repeat;
    background-position: 0px 0px;
}
li[id="categories"]{
    background: url("03-tab02.png")no-repeat;
    background-position: -10px 0px;
}
li[id="location"]{
    background: url("03-tab03.png")no-repeat;
    background-position: 0px 0px;
}
li[id="agents"]{
    background: url("03-tab04.png")no-repeat;
    background-position: 0px 0px;
}

/*Main*/
main{
    width: 100%;
    height: 265px;
}
article{
    margin-left: 30px;
    width: 210px;
    height: 85px;
    font-size: 12px;
    display: inline-block;
    margin-top: 30px;
}
article>h3{
    margin-top: 0px;
    color: #394456;
}
input{
    width: 193px;
    height: 45px;
    background: #FFFFFF;
    padding-left: 15px;
}
button{
    width: 210px;
    height: 47px;
    background: #3BBC96;
    padding-left: 15px;
    color: #EEEEEE;
    border-radius: 5px;
    border: none;
}
button:hover{
    background: #364353;
    cursor: pointer;
}