
body{
    background: white;
}

#wrapper{
    width: 630px;
    height: 185px;
    background: #fff;
    margin: 200px 340px;
    border-top: 1px solid skyblue;
    border-bottom: 1px solid skyblue;

}
#wrapper>section>article{
   display: inline-block;
    width: 148px;
    height: 250px;
    padding: 0px 0px;
    margin: 0px 3px;
}
#wrapper>section>article>h3{
    font-size: 16px;
    margin: 5px 0px;
    padding: 0px 0px;
    color: #384D6C;
    font-family: Arial;
}
#wrapper>section>article>p{
    font-size: 12px;
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Verdana;
    color: #2B4E76;
}
#wrapper>section>article>p:hover{
    color: darkorange;
    cursor: pointer;
}
#wrapper>section>article>h3:hover{
    text-decoration: underline;
    cursor: pointer;
}