body{
    background: black;
    font-family:Verdana, Arial, Helvetica ;
    margin: 80px 385px;
}
#wrapper{
    background: #fff;
    width: 600px;
    height: 475px;
}
#wrapper>article{
    width: 280px;
    height: 220px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #D4D4D4;
    display: inline-block;
    vertical-align: top;
    box-shadow: 3px 3px 3px 0px #D4D4D4;

}
#wrapper>article>header{
    margin: 0px 0px;
    padding: 0px 0px;
}
#wrapper>article>header>h4{
    padding-top: 10px;
    margin: -6px 10px;
    font-size: 13px;
}
#wrapper>article>header>h4:hover{
    text-decoration: underline;
    cursor: pointer;

}
#wrapper>article>header>dfn{
    padding-top: 0px;
    margin: 0px 10px;
    font-size: 10px;
}
#wrapper>article>main{
    margin: -10px 10px;
    padding: 0px 0px;
}
#wrapper>article>main>p{
    font-size: 13px;
    font-family: Arial;
}
#wrapper>article>main>img{
   float: left;
    width: 70px;
    height: 70px;
    padding-top: 2px;
    padding-right: 5px;
}