body {
    background: #F7F7F7;
}

#wrapper {
    background: #F7F7F7;
    width: 695px;
    height: 700px;
    margin: 0px auto;
}

#wrapper h1 {
    margin: 5px 0px 20px 0px;
    font-family: Arial;
    font-weight: 100;
    font-size: 26px;
}

fieldset {
    margin: 10px 5px;
    border: 1px dashed #CFCFCF;
}
section{
    margin-bottom: 20px;
    width: 475px;
    float: left;
}
form {
    width: 100%;
}

legend {
    width: 90px;
    height: 25px;
    background: #666666;
    border: none;
    font-family: Helvetica;
    color: #fff;
    font-size: 14px;
    padding: 5px 0px 0px 5px;
    margin-bottom: 10px;
}

label {
    height: 22px;
    width: 150px;
    background: #CCCCCC;
    color: #66759C;
    display: inline-block;
    font-size: 18px;
    font-family: Arial;
    padding: 9px 5px;
}

input {
    height: 25px;
    width: 200px;
    font-size: 18px;
    font-family: Arial;
    margin: 5px 5px;
    padding-left: 25px;
}

input[type="text"] {
    background: url("username-icon.png") #fff no-repeat;
    background-position: 5px 5px;
}

input[type="password"] {
    background: url("password-icon.png") #fff no-repeat;
    background-position: 5px 5px;
}

fieldset > div {
    width: 270px;
    height: 40px;
    background: #E6E6E6;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 4px;
}

fieldset > div:last-of-type {
    clear: both;
    float: right;
    background: #fff;
    border: 1px solid #CCCCCC;
    margin-right:5px;
}

div:last-of-type > input {
    float: right;
    width: 90px;
    height: 25px;
    margin: 10px 38px 5px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial;
    padding: 0px 10px;
    background: #E3E3DB;
    color: #989070;
    border: none;
}

div:last-of-type > input:hover {
    background: #CCCCCC;
    cursor: pointer;
    color: #6F5555;
}

#name, #address, #city, #country {
    background: url("field-icon.png") #fff no-repeat;
    background-position: 5px 5px;
}
hr{
    border-top: dashed 1px #CFCFCF;
    width: 460px;
    float: left;
    margin: 0px 0px 20px 5px;
}

article{
    float: right;
    width: 210px;
    height: 400px;
    border: 1px solid #CCCCCC;
    background: #fff;
    margin: -227px 0px;
}
article>h3{
    font-size: 19px;
    margin: 20px 0px 0px 10px;
    font-family: Helvetica;
    font-weight: 400;
}
article>p{
    font-size: 13px;
    font-family: Helvetica;
    color: #666666;
    margin-left: 10px;
}