

#wrapper{
    width: 630px;
    height: 500px;
}
#wrapper>div{
    vertical-align: text-top;
    width: 200px;
    height: 200px;
    display: inline-block;
}
#wrapper>div>h1,h2,h3{
    margin: 0px 0px;
}