body {
    background:black;

}

#wrapper {
    background: #EBEBEB;
    width: 800px;
    height: 600px;
    margin: 0px auto;
    font-family: Tahoma, Helvetica, sans-serif;
}

/*Header*/
header {
    width: 100%;
    height: 85px;
    background: #F1F1F1;
    color: #39A1D8;
    border-bottom: 1px dashed #D1D1D1;
}

h1 {
    font-size: 28px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 25px 0px 0px 20px;
}

/*Top section*/
#top-section {
    width: 100%;
    height: 160px;
    border-bottom: 1px dashed #D1D1D1;
    vertical-align: top;
    display: inline-block;
}

#top-section > div {
    width: 570px;
    margin: 30px 0px 0px 20px;
    vertical-align: top;
    display: inline-block;
}

h2 {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    margin-top: 0px;
}

#top-section > div > p {
    font-size: 13px;
    font-family: 'Tahoma', sans-serif;
    margin-top: 18px;
    line-height: 20px;
}

aside {
    float: right;
    clear: left;
    width: 185px;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    margin: 30px 20px 0px 0px;
}

aside > p {
    margin: 0px 0px 3px 0px;
    font-size: 13px;
    font-weight: bold;
}

input{
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    background: #fff;
}
aside > input {
    width: 100%;
}

/*Bottom section*/
#bottom-section{
    width: 100%;
    height: 236px;
    border-bottom: 1px dashed #D1D1D1;
}
#personal-details {
    margin: 20px 0px 0px 20px;
    width: 160px;
    height: 187px;
    display: inline-block;
}

#personal-details > input {
    margin: 5px 0px;
    width: 89%;
    height: 40px;
}

#request{
    margin: 20px 20px;
    width: 70%;
    height: 187px;
    float: right;
    vertical-align: top;
    display: inline-block;
}
span{
    display: inline-block;
}
label{
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}
select{
    height: 40px;
    width: 350px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;

}
.number-of-rooms{
    margin-left: 15px;
}
 #number-of-rooms{
width: 170px;
}
.check>input{
    width: 250px;
    height: 45px;
}
.check{
    margin-top: 28px;
    width: 270px;
}
.check:last-of-type{
   margin-left: 14px;
}

/*Footer*/
footer>button{
    width: 200px;
    height: 40px;
    background: #32A2E4;
    color: #fff;
    float: right;
    margin: 30px 20px 0px 0px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}