body{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 16px;
}
#wrapper{
    width: 960px;
    margin: 10px auto;
}
header:after, main:after{
    clear: both;
}
h1{
    font-size: 2.5em;
    padding: 0px  0px 0px 30px;
}
h3{
    font-size: 1.5em;
    margin: 0px 5px;
}
h4{
    font-size: 1em;
    color: white;
}
h6{
    font-size: 0.7em;
    margin: 10px 0px;
    color: white;
}
ul, ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
header > nav > ul > li, nav{
    margin: 0px 20px 0px 0px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}
a{
    font-family: Aria;
    color: grey;
    text-decoration: none;
}
a:hover{
    color: blue;
}
#search-console{
    float: right;
    background: #DCDCDC;
}
#left-col{
    width: 180px;
    margin:40px 5px;
    border-top: 1px solid grey;
    float: left;
}
section{
    width: 540px;
    margin: 0px 5px;
    display: inline-block;
}
header > div{
    color: grey;
    font-size: 0.8em;
    margin: 0px 10px;
}
header > div a{
    text-transform: uppercase;
}
#right-col{
    width: 180px;
    display: inline-block;
    float: right;
}
#right-col header{
    color: grey;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 10px 0px;
    border-bottom: 1px solid grey;
}
#twitter-account{
    font-size: 0.8em;
    width: 880px;
    background-color: #DCDCDC;
    color: grey;
    padding: 10px 40px;
}
footer{
    width: 960px;
    background-color: black;
    color: grey;
    display: inline-block;
}
footer header{
    width: 130px;
    margin: 5px 30px;
    float: left;
    display: inline-block;
}
footer nav{
    width: 120px;
    float: left;
}
footer a{
    color: white;
    margin: 0px 0px;
    text-transform: capitalize;
    display: inline-block;
}
footer aside{
    width: 190px;
    margin: 0px 20px 0px 0px;
    float: left;
}







